.form-input{
    border: 0;
    border-bottom: 1px solid gray;
    width: 100%;
    outline-style: none;
    font-size: 20px;
}

.form-input:focus{
    border-bottom: 2px solid black;
    margin-bottom: -1px;
}

