.form-submit{
    margin: 20px auto;
    width: 80%;
}

.form-submit>button{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: #39C5BB;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 0;
    transition-duration: 1s;
}
.form-submit>button:hover{
    background-color: #2a8d86;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3),0 17px 50px rgba(0, 0, 0, 0.3);
}
